# session 1

In [1]:
print("Hello World")

Hello World

# session1

# Functions

are block of code which performs different tasks

In [ ]:
# we have 2 types of functions
# 1) build in 
# 2) user defined

In [5]:
#  built in function

In [6]:
len("ETLHIVE")

7

In [8]:
lst = [2,3,4,5,6,7,8]
len(lst)

7

In [9]:
print("Hello world")

Hello world

# user definrd function

In [10]:
# we have 2 parts in this
# 1) defining a function
# 2)calling a function

In [11]:
# def function_name(parameter):
#     statement

In [13]:
# without parameter
# defining a function

In [14]:
def print_message():
    print("hello ekta how are you")

In [16]:
# calling a function
print_message()
print_message()

hello ekta how are you
hello ekta how are you

In [17]:
def add():
    a=10
    b=20
    c=a+b
    print(c)

In [18]:
# calling a function
add()

30

In [1]:
def Addition():
    a=int(input("enter 1st number"))
    b=int(input("enter 2nd number"))
    c=a+b
    print(f"addition={c}")

In [2]:
Addition()

addition=90

In [3]:
# with parameter

In [4]:
def Add_value(a,b):
    c=a+b
    print("addition of 2 numbers =",c)

In [5]:
Add_value(90,89)

addition of 2 numbers = 179

In [6]:
Add_value(80,100)

addition of 2 numbers = 180

In [7]:
# create a function to print table of any number

In [8]:
def print_table(n):
    for i in range(1,11):
        print(n*i)

In [9]:
print_table(18)

18
36
54
72
90
108
126
144
162
180

In [10]:
lst = [2,3,4,5,6,7,8,12,15,18]

In [11]:
def cal_sum(l):
    sum=0
    for i in l:
        sum=sum+i
        print("Total_sum=",sum)

In [12]:
cal_sum(lst)

Total_sum= 2
Total_sum= 5
Total_sum= 9
Total_sum= 14
Total_sum= 20
Total_sum= 27
Total_sum= 35
Total_sum= 47
Total_sum= 62
Total_sum= 80

In [13]:
def cal_sq(l):
    for i in l:
        print(i*i)

In [14]:
cal_sq(lst)

4
9
16
25
36
49
64
144
225
324

In [15]:
def cal_cube(l):
    for i in l:
        print(i*i*i)

In [16]:
cal_cube(lst)

8
27
64
125
216
343
512
1728
3375
5832

In [17]:
# hypotenius of right angled triangle

In [ ]:
def hypotenius_tri():
    a=int(input("Enter 1st number"))
    b=int(input("enter 2nd number"))
    c=((a*a)+(b*b))**0.5  
    print(f"hypotenius of right angled triable is {c}")

In [34]:
hypotenius_tri()

hypotenius of right angled triable is 5.0

In [36]:
# wapp which takes 3 sides and determines whether 3 sides are forming a trianle or not

In [42]:
def cal_tri(a,b,c):
    if ((a+b)>c) and ((a+c)>b) and ((b+c)>a):
        print("these 3 sides are forming a triable")
    else:
        print("these 3 sides are not forming a triagle")

In [43]:
cal_tri(1,2,3)

these 3 sides are not forming a triagle

In [44]:
cal_tri(12,14,18)

these 3 sides are forming a triable